.favorites {
  width: 200px;
  border: 2px solid $colorSecondary;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;

  .card {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    gap: 10px;

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__image {
      width: 30%;
    }
  }
}