.favorites {
  min-width: 120px;
  max-width: 300px;
  border: 2px solid $colorPrincipal;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .listCards {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .card {
    display: flex;
    border: none;
    gap: 10px;

    &__image {
      width: 30%;
    }

    &__title3 {
      flex: 1;
      font-size: 14px;
    }
  }

  .iconDelete {
    display: flex;
    align-items: center;
  }

  .button {
    align-self: center;
  }
}