.favorites {
  min-width: 150px;
  max-width: 200px;
  border: 2px solid $colorPrincipal;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;

  &__List {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .card {
      display: flex;
      border: none;
      gap: 10px;

      &__image {
        width: 30%;
      }

      &__title {
        display: flex;
        align-items: center;
      }

    }
  }
}