.results {
  width: 100%;
  border: 2px solid $colorSecondary;
  padding: 10px;
}

.card {
  width: 200px;
  display: inline-block;

  &__title {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.photo {
  width: 200px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}