.results {
  border: 2px solid $colorSecondary;
  padding: 10px;
  flex: 1;

  .card {
    display: inline-block;

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__image {
      width: 200px;
    }
  }
}