.viewCards {
  min-height: 75vh;
  width: 100%;
  display: flex;
  font-family: $font-main;
  gap: 10px;
  color: $colorPrincipal;

}

.favoriteSlect {
  border: solid 3px $colorSecondary;
  border-radius: 5px;
}

.button {
  border: 2px solid $colorPrincipal;
  border-radius: 5px;
  color: $colorPrincipal;
  padding: 3px;
  background: tranparent;
}

.container {
  padding: 0 20px;
}