.container {
  padding: 0 10px;
}

.viewCards {
  min-height: 75vh;
  width: 100%;
  display: flex;
  font-family: $font-main;
  gap: 10px;
  color: $colorPrincipal;
}

.title2 {
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  background-color: plum;
}

.favouriteSelect {
  border: solid 4px $colorSecondary;
  border-radius: 5px;
}

.listCards {
  display: flex;
  gap: 10px;
  padding: 10px;

}



.card {
  &__title3 {
    display: flex;
    align-items: center;
  }


}